.color{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid gray;
}
.colors{
    margin: 10px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(216, 206, 206);
    border: 2px solid gray;
    padding: 10px;
    height: 100px;
}
.hidden{
    display: none;
}
.show{}