.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.pink{
    background-color: pink;
}
.orange{
    background-color: orange;
}
.select{
    width:150px;
    margin-left: 12vw;
}
button{
    margin-left: 45vw;
}
