<select class="select" [(ngModel)]="guessColors[0]">
    <option class="red" value="red">אדום</option>
    <option class="green" value="green">ירוק</option>
    <option class="yellow" value="yellow">צהוב</option>
    <option class="pink" value="pink">ורוד</option>
    <option class="orange" value="orange">כתום</option>
    <option class="blue" value="blue">כחול</option>
</select>
<select class="select" [(ngModel)]="guessColors[1]">
    <option class="red" value="red">אדום</option>
    <option class="green" value="green">ירוק</option>
    <option class="yellow" value="yellow">צהוב</option>
    <option class="pink" value="pink">ורוד</option>
    <option class="orange" value="orange">כתום</option>
    <option class="blue" value="blue">כחול</option>
</select>
<select class="select" [(ngModel)]="guessColors[2]">
    <option class="red" value="red">אדום</option>
    <option class="green" value="green">ירוק</option>
    <option class="yellow" value="yellow">צהוב</option>
    <option class="pink" value="pink">ורוד</option>
    <option class="orange" value="orange">כתום</option>
    <option class="blue" value="blue">כחול</option>
</select>
<select class="select" [(ngModel)]="guessColors[3]">
    <option class="red" value="red">אדום</option>
    <option class="green" value="green">ירוק</option>
    <option class="yellow" value="yellow">צהוב</option>
    <option class="pink" value="pink">ורוד</option>
    <option class="orange" value="orange">כתום</option>
    <option class="blue" value="blue">כחול</option>
</select><br><br><br>
<button (click)="addGuess()">נחש</button>